AMSClient/src/META-INF/wsdl/desktop-c7mu34c_8080/AMSWebService/AMSWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="AMSWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://desktop-c7mu34c:8080/AMSWebService/AMSWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="valueOf">
<part name="parameters" element="tns:valueOf"/>
</message>
<message name="valueOfResponse">
<part name="parameters" element="tns:valueOfResponse"/>
</message>
<message name="viewPatientAppointments">
<part name="parameters" element="tns:viewPatientAppointments"/>
</message>
<message name="viewPatientAppointmentsResponse">
<part name="parameters" element="tns:viewPatientAppointmentsResponse"/>
</message>
<message name="getAvailableTimes">
<part name="parameters" element="tns:getAvailableTimes"/>
</message>
<message name="getAvailableTimesResponse">
<part name="parameters" element="tns:getAvailableTimesResponse"/>
</message>
<message name="makeAppointment">
<part name="parameters" element="tns:makeAppointment"/>
</message>
<message name="makeAppointmentResponse">
<part name="parameters" element="tns:makeAppointmentResponse"/>
</message>
<message name="retrievePatientEntityByIdentityNumber">
<part name="parameters" element="tns:retrievePatientEntityByIdentityNumber"/>
</message>
<message name="retrievePatientEntityByIdentityNumberResponse">
<part name="parameters" element="tns:retrievePatientEntityByIdentityNumberResponse"/>
</message>
<message name="retrieveAndDeletePatientAppointments">
<part name="parameters" element="tns:retrieveAndDeletePatientAppointments"/>
</message>
<message name="retrieveAndDeletePatientAppointmentsResponse">
<part name="parameters" element="tns:retrieveAndDeletePatientAppointmentsResponse"/>
</message>
<message name="retrievePatientAppointments">
<part name="parameters" element="tns:retrievePatientAppointments"/>
</message>
<message name="retrievePatientAppointmentsResponse">
<part name="parameters" element="tns:retrievePatientAppointmentsResponse"/>
</message>
<message name="retrieveAllDoctors">
<part name="parameters" element="tns:retrieveAllDoctors"/>
</message>
<message name="retrieveAllDoctorsResponse">
<part name="parameters" element="tns:retrieveAllDoctorsResponse"/>
</message>
<message name="createPatientEntity">
<part name="parameters" element="tns:createPatientEntity"/>
</message>
<message name="createPatientEntityResponse">
<part name="parameters" element="tns:createPatientEntityResponse"/>
</message>
<message name="retrieveDoctorEntityByDoctorId">
<part name="parameters" element="tns:retrieveDoctorEntityByDoctorId"/>
</message>
<message name="retrieveDoctorEntityByDoctorIdResponse">
<part name="parameters" element="tns:retrieveDoctorEntityByDoctorIdResponse"/>
</message>
<message name="patientLogin">
<part name="parameters" element="tns:patientLogin"/>
</message>
<message name="patientLoginResponse">
<part name="parameters" element="tns:patientLoginResponse"/>
</message>
<message name="InvalidLoginException">
<part name="fault" element="tns:InvalidLoginException"/>
</message>
<portType name="AMSWebService">
<operation name="valueOf">
<input wsam:Action="http://ws.session.ejb/AMSWebService/valueOfRequest" message="tns:valueOf"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/valueOfResponse" message="tns:valueOfResponse"/>
</operation>
<operation name="viewPatientAppointments">
<input wsam:Action="http://ws.session.ejb/AMSWebService/viewPatientAppointmentsRequest" message="tns:viewPatientAppointments"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/viewPatientAppointmentsResponse" message="tns:viewPatientAppointmentsResponse"/>
</operation>
<operation name="getAvailableTimes">
<input wsam:Action="http://ws.session.ejb/AMSWebService/getAvailableTimesRequest" message="tns:getAvailableTimes"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/getAvailableTimesResponse" message="tns:getAvailableTimesResponse"/>
</operation>
<operation name="makeAppointment">
<input wsam:Action="http://ws.session.ejb/AMSWebService/makeAppointmentRequest" message="tns:makeAppointment"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/makeAppointmentResponse" message="tns:makeAppointmentResponse"/>
</operation>
<operation name="retrievePatientEntityByIdentityNumber">
<input wsam:Action="http://ws.session.ejb/AMSWebService/retrievePatientEntityByIdentityNumberRequest" message="tns:retrievePatientEntityByIdentityNumber"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/retrievePatientEntityByIdentityNumberResponse" message="tns:retrievePatientEntityByIdentityNumberResponse"/>
</operation>
<operation name="retrieveAndDeletePatientAppointments">
<input wsam:Action="http://ws.session.ejb/AMSWebService/retrieveAndDeletePatientAppointmentsRequest" message="tns:retrieveAndDeletePatientAppointments"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/retrieveAndDeletePatientAppointmentsResponse" message="tns:retrieveAndDeletePatientAppointmentsResponse"/>
</operation>
<operation name="retrievePatientAppointments">
<input wsam:Action="http://ws.session.ejb/AMSWebService/retrievePatientAppointmentsRequest" message="tns:retrievePatientAppointments"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/retrievePatientAppointmentsResponse" message="tns:retrievePatientAppointmentsResponse"/>
</operation>
<operation name="retrieveAllDoctors">
<input wsam:Action="http://ws.session.ejb/AMSWebService/retrieveAllDoctorsRequest" message="tns:retrieveAllDoctors"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/retrieveAllDoctorsResponse" message="tns:retrieveAllDoctorsResponse"/>
</operation>
<operation name="createPatientEntity">
<input wsam:Action="http://ws.session.ejb/AMSWebService/createPatientEntityRequest" message="tns:createPatientEntity"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/createPatientEntityResponse" message="tns:createPatientEntityResponse"/>
</operation>
<operation name="retrieveDoctorEntityByDoctorId">
<input wsam:Action="http://ws.session.ejb/AMSWebService/retrieveDoctorEntityByDoctorIdRequest" message="tns:retrieveDoctorEntityByDoctorId"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/retrieveDoctorEntityByDoctorIdResponse" message="tns:retrieveDoctorEntityByDoctorIdResponse"/>
</operation>
<operation name="patientLogin">
<input wsam:Action="http://ws.session.ejb/AMSWebService/patientLoginRequest" message="tns:patientLogin"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/patientLoginResponse" message="tns:patientLoginResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/AMSWebService/patientLogin/Fault/InvalidLoginException"/>
</operation>
</portType>
<binding name="AMSWebServicePortBinding" type="tns:AMSWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="valueOf">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewPatientAppointments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAvailableTimes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makeAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrievePatientEntityByIdentityNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAndDeletePatientAppointments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrievePatientAppointments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllDoctors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPatientEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveDoctorEntityByDoctorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="patientLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AMSWebService">
<port name="AMSWebServicePort" binding="tns:AMSWebServicePortBinding">
<soap:address location="http://desktop-c7mu34c:8080/AMSWebService/AMSWebService"/>
</port>
</service>
</definitions>